

body {
  background-color: #1e1e1e;
  
}

.main-container {
  background-color: #d6d7ef;
  width: min(100%, 900px);
  min-height: 90vh;
  margin: 30px auto;

  border: 4px solid #898AC4;
  border-radius: 10px;
}

/* Title Container */
.title-container {
  background-color: #9395d3;
  width: 100%;
  height: 11vh;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 4px solid #898AC4;

  text-align: center;
  justify-content: center;
  
}

.title{
  margin: 0px;
  padding-top: 3px;
  color: #FFF5F2;
  font-size: 55px;
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 600;
  font-style: normal;
  
}

.span-dash {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
 
}

/*   --Task Card Style-- */
.task-card{
  margin: 20px 40px;
  background-color: #FAF7F3;
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  border-radius: 10px;
}

.task-text{
color: #9395d3;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.task-fn{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

  

}
.task-btns{
  display: flex;
  gap: 20px;
  color: #9395d3;


}
.edit-btn, .delete-btn, .status-btn{
  all: unset;
}
.edit-btn:hover, .delete-btn:hover, .status-btn:hover{
  cursor: pointer;
  color: #AE75DA;
  
}

.detail-btn{
  all: unset;
   background-color: #d6d7ef;
  color: black;
  
  padding: 6px 5px;
  border-radius: 5px;
 
}
.detail-btn:hover{
  cursor: pointer;
 background-color: #9395d3;
  color: white;
}


/* --- Add functionality --- */
.add-task{
  /* background-color: red; */
  margin: 20px 40px;

}
.add-btn{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
  
}
.add-text{
  font-size: 25px;
  color: #8487e2;
  opacity: 0;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.add-icon{
  font-size: 60px;
  color: #9395d3;

 
}

.add-icon:hover{
  cursor: pointer;
  color: #8487e2;
  font-size: 70px;
  transition: font-size 1s ease;
  
  
}

.add-btn:hover .add-text {
  opacity: 1;
  transition: opacity 1.5s ease;
}